/* Author: Markus Henn */

/********************
 * General definitions
 ********************/

html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 15px;
	background-color: #FFFFFF;
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 80%;
	height: 95%;
}

form {
	background-color: #E6E6E6;
	padding: 5px;
	border-radius: 10px;
}

/* IDs */
#frame {
	margin-left: auto;
	margin-right: auto;
	min-width: 900px;
	height: 100%;
}

#frame > tbody > tr > td {
	border: 1px solid #000000;
	border-radius: 10px;
	padding: 15px;
	vertical-align: top;
}

#frame > tbody > tr > td.left {
	height: 100%;
}

/*
#frame > tbody > tr > td > * {
	border-spacing: 0px;
}
*/

#header {
	width: 100%;
	height: 100px;
}

#logo {
	width: 180px;
}

#topic {
	font-size: 300%;
	font-weight: bold;
	text-align: center;
}

#user_status {
	width: 180px;
}

#menu {
	position: fixed;
}

#menu .top_link {
	position: fixed;
	margin-top: 10px;
	margin-bottom: 10px;
	bottom: 40px;
}

#main {
	border-width: 0px !important;
}

/* Classes */
.album_cover {
	width: 160px;
	height: 160px;
	border: 1px solid #6F6F6F;
}

.form_input {
	margin-top: 5px;
	overflow: auto;
}

.form_input label {
	float: left;
	display: block;
}

/* attribute selectors don't work in internet explorer, but it's not that important, so we don't care */
.form_input input[type="text"],
.form_input input[type="password"],
.form_input input[type="file"],
.form_input input[type="email"],
.form_input input[type="date"],
.form_input input[type="number"],
.form_input select {
	width: 210px;
}

.form_submit {
	margin-top: 5px;
}

/********************
 * Login/Register
 ********************/

#login .form_input label,
#edituser .form_input label {
	float: left;
	display: block;
	width: 120px;
}

/********************
 * Shopping Cart
 ********************/

#shopping_cart {
	position: fixed;
	width: 180px;
}

#shopping_cart .topic {
	font-weight: bold;
	margin-bottom: 10px;
}

.order_items {
	margin-bottom: 7px;
}

.order_items .price {
	text-align: right;
}

.order_items .order_item {
	border-bottom: 1px solid #6F6F6F;
}

.order_items .total > .price {
	border-top: 1px solid #6F6F6F;
	font-weight: bold;
}


/*******************
 * Messages
 *******************/

.message {
	border: 1px solid #6f6f6f;
	padding: 3px;
	border-radius: 10px;
}

.message .topic {
	margin-top: 5px;
	margin-bottom: 3px;
	font-weight: bold;
	font-size: 115%;
}

#info_message {
	background-color: yellow;
}

#error_message {
	background-color: #FF6B6B;
}

#success_message {
	background-color: #A8F872;
}

/********************
 * Album Detail View
 ********************/

.album_cover_area {
	float: left;
	margin: 10px;
}

.album_cover {
	width: 160px;
}

.cd {
	clear: left;
	border: 1px solid #000000;
	border-radius: 60px;
	padding: 10px 35px;
}

.track_number {
	float: left;
	min-width: 25px;
	text-align: right;
}

.track_preview {
	float: left;
	margin: 0px 5px;
	
}

.track_preview > * {
	width: 15px;
	height: 15px;
}


/*******************
 * Search album results
 *******************/

.album {
	border-bottom: 1px solid #6f6f6f;
	margin-top: 15px;
	overflow: auto;
	padding-bottom: 10px;
}

.admin_functions_area {
	clear: both;
}

#searchresults .album_title {
	margin-top: 5px;
	margin-bottom: 5px;
}

/*******************
 * New + Edit album
 *******************/
 
#editalbum .form_input label {
	width: 160px;
}


#editalbum .editalbum_cd .form_input label {
	width: 30px;
}

#editalbum .album_cover {
	margin: 5px 5px 5px 0px;
}

#editalbum .price {
	clear: both;
}

#editalbum .form_submit {
	margin-top: 25px;
}


/*******************
 * Search album
 *******************/
 
#searchform .form_input label {
	width: 120px;
}

/*******************
 * New category
 *******************/

#create_category .form_input label {
	width: 120px;
}

/*******************
 * New Catchword
 *******************/
 
#create_catchword .form_input label {
	width: 120px;
}

/*******************
 * New Address
 *******************/

#create_address .form_input label {
	width: 120px;
}

/*******************
 * Edit user
 *******************/

#edituser .form_input label {
	width: 200px;
}

/*******************
 * Order Shopping Cart
 *******************/

#sendorder .addresses {
	margin-top: 7px;
}

#sendorder #edit_order_button {
	/*visibility: hidden; */
}

#sendorder .amount input {
	width: 20px;
}
